@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap");

main {
  background-color: #1d4c4f;
  border-radius: 12px;
}
body {
  font-family: Gentium Plus, sans-serif;
  background-color: #7be495;
}
header {
  background-color: #1d4c4f;
}
footer {
  margin-top: 32px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 32px;
}

/* Cabeçalho e menu navegação */
.cabecalho {
  font-family: "Gentium", sans-serif;
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 15px 15px;
  padding-bottom: 6px;
}

.logoimg {
  width: 100px;
  height: 100px;
}
.logomark {
  min-width: 275px;
  background-color: #12b886;
  font-family: Gentium Plus, sans-serif;
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  align-items: center;
  color: white;
  font-size: 20px;
  padding: 2px;
  font-weight: bold;
  opacity: 95%;
  border-radius: 2px 0px 12px 12px;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
}
.logomark h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 0px;
}

.menu {
  height: 50px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: #12b886;
  border-radius: 0px 0px 20px 20px;
  position: fixed;
  right: 0;
}
.menu ul {
  font-family: Gentium Plus, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.menu ul li {
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
  list-style-type: none;
}

.searchq {
  background-color: #12b886;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  min-height: 50px;
}
.searchq input {
  border-radius: 5px;
  border: black 1px;
}
/*  */

/* Frases */
.quote {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}
.quotes {
  background-color: #205072;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
  opacity: 75%;
  display: flex;
  align-items: center;
  color: whitesmoke;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
}

/*  */

/* Conteúdo Principal */
.imagemprin {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 20px;
  opacity: 100%;
}

/* Rodapé */
.logofooter {
  margin-top: 15px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: white;
  padding: 2px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
}
.logofooter h1 {
  font-size: 50px;
}
.rodape {
  background-color: #1d4c4f;
  border-radius: 12px 12px 0px 0px;
}

/*  */
